* {
    font-family: 'Times New Roman', Times, serif;
    border-color: olive;
}

#cars {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#cars li img {
    height: 100px;
    width: 150px;
    /* position: relative; */
}

#cars li h3 {
    font-style: italic;
}

#cars li {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 2cm;
    list-style: none;
}

#cars li button {
    position: absolute;
    padding: .1cm;

}

img {
    padding: 3cm;
    white-space: normal;
}


