#table-row {
    text-align: center;
    
}

#bottom-row {
    text-align: center;
    text-emphasis: bold;
}

.button {
    align-content: right;
    padding: 10px 20px;
    border-radius: 2px;
    color: black;
    border-color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.button:hover {
    background-color: #f44336;
    color: white;
  }
  